<section>
    <h2>Add New Weapon</h2>

    <form class="new-weapon-form">
        <div>
            <label for="main-effect">Main Effect</label>
            <select id="main-effect" name="main-effect">
                <option value="antiArmor">Anti-Armor</option>
                <option value="assassin">Assassin's</option>
                <option value="berserker">Berserker's</option>
                <option value="bloodied">Bloodied</option>
                <option value="double">Double</option>
                <option value="executioner">Executioner's</option>
                <option value="exterminator">Exterminator's</option>
                <option value="furious">Furious</option>
                <option value="ghoulslayer">Ghoul Slayer's</option>
                <option value="hunter">Hunter's</option>
                <option value="instigating">instigating</option>
                <option value="junkie">Junkie's</option>
                <option value="medic">Medic's</option>
                <option value="mutant">Mutant's</option>
                <option value="mutantSlayer">Mutant Slayer's</option>
                <option value="nocturnal">Nocturnal</option>
                <option value="quad">Quad</option>
                <option value="stalker">Stalker's</option>
                <option value="suppressor">Suppressor's</option>
                <option value="troubleshooter">Troubleshooter's</option>
                <option value="twoShot">Two-Shot</option>
                <option value="vampire">Vampire's</option>
                <option value="zealot">Zealot's</option>
            </select>
        </div>

        <div>
            <label for="major-effect">Major Effect</label>
            <select id="major-effect" name="major-effect">
                <option disable selected value> -- Select a modifier: -- </option>
                <option value="basher">Bashing damage increased by 40%</option>
                <option value="crippling">+50% limb damage</option>
                <option value="explosive">Bullets explode for area damage</option>
                <option value="hitman">+10% damage while aiming</option>
                <option value="lucky1">V.A.T.S. critical shots do +50% damage</option>
                <option value="meleeSpeed">40% increased swing speed</option>
                <option value="powerAttackDamage">40% more power attack damage</option>
                <option value="rapid1">25% faster fire rate</option>
                <option value="riposting">Reflects 50% of melee damage back while blocking</option>
                <option value="vatsEnhanced1">+33% V.A.T.S. hit chance</option>
            </select>
        </div>

        <div>
            <label for="minor-effect">Minor Effect</label>
            <select id="minor-effect" name="minor-effect">
                <option disable selected value> -- Select a modifier: -- </option>
                <option value="agility">+1 Agility</option>
                <option value="cavalier1">Take 15% less damage while blocking</option>
                <option value="cavalier2">Take 40% less damage while power attacking</option>
                <option value="endurance">+1 Endurance</option>
                <option value="lightweight">90% reduced weight</option>
                <option value="lucky2">Your V.A.T.S. critical meter fills 15% faster</option>
                <option value="nimble">Faster movement speed while aiming</option>
                <option value="perception">+1 Perception</option>
                <option value="rapid2">15% faster reload</option>
                <option value="resilient">+250 Damage Resistance while reloading</option>
                <option value="steadfast">+50% Damage Resistance while aiming</option>
                <option value="strength">+1 Strength</option>
                <option value="vatsEnhanced2">25% less V.A.T.S. Action Point cost</option>
            </select>
        </div>
    </form>