<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-3 d-flex justify-content-center" id="vaultboy">
                <img src="/images/vaultboy.jpg" class="img-fluid w-50 vaultboy">
            </div>
            <div class="col-md-5 text-light align-self-center animate__animated animate__fadeIn animate__fast">
                <h2 class="text-light text-center" id="w-form">Add New Weapon</h2><hr>
                <div class="card bg-dark p-4">
                    
                    <form class="container new-weapon-form text-light">
                        <h4 class="text-center">Modifiers</h4><hr>
                        <div class="row pb-2">
                            <label class="col-4" for="main-effect">Main Effect</label>
                            <select class="col" id="main-effect" name="main-effect">
                                <option val="antiArmor">Anti-Armor</option>
                                <option val="assassin">Assassin's</option>
                                <option val="berserker">Berserker's</option>
                                <option val="bloodied">Bloodied</option>
                                <option val="double">Double</option>
                                <option val="executioner">Executioner's</option>
                                <option val="exterminator">Exterminator's</option>
                                <option val="furious">Furious</option>
                                <option val="ghoulslayer">Ghoul Slayer's</option>
                                <option val="hunter">Hunter's</option>
                                <option val="instigating">Instigating</option>
                                <option val="junkie">Junkie's</option>
                                <option val="medic">Medic's</option>
                                <option val="mutant">Mutant's</option>
                                <option val="mutantSlayer">Mutant Slayer's</option>
                                <option val="nocturnal">Nocturnal</option>
                                <option val="quad">Quad</option>
                                <option val="stalker">Stalker's</option>
                                <option val="suppressor">Suppressor's</option>
                                <option val="troubleshooter">Troubleshooter's</option>
                                <option val="twoShot">Two-Shot</option>
                                <option val="vampire">Vampire's</option>
                                <option val="zealot">Zealot's</option>
                            </select>
                        </div>
                            


                        <div class="row pb-2">
                            <label class="col-4" for="major-effect">Major Effect</label>
                            <select class="col" id="major-effect" name="major-effect">
                                <option disable selected value> -- Select a modifier: -- </option>
                                <option val="basher">Bashing damage increased by 40%</option>
                                <option val="crippling">+50% limb damage</option>
                                <option val="explosive">Bullets explode for area damage</option>
                                <option val="hitman">+10% damage while aiming</option>
                                <option val="lucky1">V.A.T.S. critical shots do +50% damage</option>
                                <option val="meleeSpeed">40% faster swing speed</option>
                                <option val="powerAttackDamage">40% more power attack damage</option>
                                <option val="rapid1">25% faster fire rate</option>
                                <option val="riposting">Reflects 50% of melee damage back while blocking</option>
                                <option val="vatsEnhanced1">+33% V.A.T.S. hit chance</option>
                            </select>
                        </div>

                        <div class="row pb-2">
                            <label class="col-4" for="minor-effect">Minor Effect</label>
                            <select class="col" id="minor-effect" name="minor-effect">
                                <option disable selected value> -- Select a modifier: -- </option>
                                <option val="agility">+1 Agility</option>
                                <option val="cavalier1">Take 15% less damage while blocking</option>
                                <option val="cavalier2">Take 40% less damage while power attacking</option>
                                <option val="endurance">+1 Endurance</option>
                                <option val="lightweight">90% reduced weight</option>
                                <option val="lucky2">Your V.A.T.S. critical meter fills 15% faster</option>
                                <option val="nimble">Faster movement speed while aiming</option>
                                <option val="perception">+1 Perception</option>
                                <option val="rapid2">15% faster reload</option>
                                <option val="resilient">+250 Damage Resistance while reloading</option>
                                <option val="steadfast">+50 Damage Resistance while aiming</option>
                                <option val="strength">+1 Strength</option>
                                <option val="vatsEnhanced2">25% less V.A.T.S. Action Point cost</option>
                            </select>
                        </div>
                        <h4 class="text-center pt-4">Weapon</h4><hr>

                        <div class="row justify-content-between pb-2">
                            <label class="col-4" for="weapon-type">Weapon Type</label>
                            <select class="col-4 align-self-end" id="weapon-type" name="weapon-type">
                                <option val="44mag">.44 Pistol</option>
                                <option val="50cal">50 Cal Machine Gun</option>
                                <option val="10mmpistol">10mm Pistol</option>
                                <option val="10mmsmg">10mm Submachine Gun</option>
                                <option val="assault">Assault Rifle</option>
                                <option val="assaultronblade">Assaultron Blade</option>
                                <option val="autogrenade">Auto Grenade Launcher</option>
                                <option val="baseballbat">Baseball Bat</option>
                                <option val="beararm">Bear Arm</option>
                                <option val="blackpowderpistol">Black Powder Pistol</option>
                                <option val="blackpowderrifle">Black Powder Rifle</option>
                                <option val="board">Board</option>
                                <option val="boneclub">Bone Club</option>
                                <option val="bonehammer">Bone Hammer</option>
                                <option val="bow">Bow</option>
                                <option val="bowieknife">Bowie Knife</option>
                                <option val="boxingglove">Boxing Glove</option>
                                <option val="broadsider">Broadsider</option>
                                <option val="chineseofficersword">Chinese Officer Sword</option>
                                <option val="combatknife">Combat Knife</option>
                                <option val="combatrifle">Combat Rifle</option>
                                <option val="combatshotgun">Combat Shotgun</option>
                                <option val="compoundbow">Compound Bow</option>
                                <option val="crossbow">Crossbow</option>
                                <option val="cryolator">Cryolator</option>
                                <option val="cultistblade">Cultist Blade</option>
                                <option val="cultistdagger">Cultist Dagger</option>
                                <option val="deathclawgauntlet">Deathclaw Gauntlet</option>
                                <option val="deathtambo">Death Tambo</option>
                                <option val="doublebarrel">Double-barrel Shotgun</option>
                                <option val="dragon">The Dragon</option>
                                <option val="fatman">Fat Man</option>
                                <option val="fireaxe">Fire Axe</option>
                                <option val="fixer">The Fixer</option>
                                <option val="flamer">Flamer</option>
                                <option val="gammagun">Gamma Gun</option>
                                <option val="gatlinggun">Gatling Gun</option>
                                <option val="gatlinglaser">Gatling Laser</option>
                                <option val="gatlingplasma">Gatling Plasma</option>
                                <option val="gaussrifle">Gauss Rifle</option>
                                <option val="golfclub">Golf Club</option>
                                <option val="grognaksaxe">Grognak's Axe</option>
                                <option val="guitarsword">Guitar Sword</option>
                                <option val="handmade">Handmade Rifle</option>
                                <option val="harpoongun">Harpoon Gun</option>
                                <option val="hatchet">Hatchet</option>
                                <option val="huntingrifle">Hunting Rifle</option>
                                <option val="knuckles">Knuckles</option>
                                <option val="laserpistol">Laser Pistol</option>
                                <option val="laserrifle">Laser Rifle</option>
                                <option val="leadpipe">Lead Pipe</option>
                                <option val="leveraction">Lever Action Rifle</option>
                                <option val="lmg">Light Machine Gun</option>
                                <option val="m79">M79 Grenade Launcher</option>
                                <option val="machete">Machete</option>
                                <option val="meathook">Meat Hook</option>
                                <option val="minigun">Minigun</option>
                                <option val="missile">Missile Launcher</option>
                                <option val="moleminergauntlet">Mole Miner Gauntlet</option>
                                <option val="mrhandybuzzblade">Mr. Handy Buzz Blade</option>
                                <option val="multipurposeaxe">Multi-purpose Axe</option>
                                <option val="pickaxe">Pickaxe</option>
                                <option val="pipeboltaction">Pipe Bolt-Action Pistol</option>
                                <option val="pipepistol">Pipe Pistol</option>
                                <option val="piperevolver">Pipe Revolver</option>
                                <option val="piperifle">Pipe Rifle</option>
                                <option val="pipewrench">Pipe Wrench</option>
                                <option val="pitchfork">Pitchfork</option>
                                <option val="plasmapistol">Plasma Pistol</option>
                                <option val="plasmarifle">Plasma Rifle</option>
                                <option val="polehook">Pole Hook</option>
                                <option val="poolcue">Pool Cue</option>
                                <option val="powerfist">Power Fist</option>
                                <option val="pupmpaction">Pump Action Shotgun</option>
                                <option val="radium">Radium Rifle</option>
                                <option val="railway">Railway Rifle</option>
                                <option val="revolutionarysword">Revolutionary Sword</option>
                                <option val="ripper">Ripper</option>
                                <option val="rollingpin">Rolling Pin</option>
                                <option val="assaultron">Salvaged Assaultron Head</option>
                                <option val="baton">Security Baton</option>
                                <option val="sheepsquatchclub">Sheepsquatch Club</option>
                                <option val="sheepsquatchstaff">Sheepsquatch Staff</option>
                                <option val="shepherdscrook">Shepherd's Crook</option>
                                <option val="shishkebab">Shishkebab</option>
                                <option val="shovel">Shovel</option>
                                <option val="sickle">Sickle</option>
                                <option val="singleaction">Single Action Revolver</option>
                                <option val="skisword">Ski Sword</option>
                                <option val="sledgehammer">Sledgehammer</option>
                                <option val="spear">Spear</option>
                                <option val="smg">Submachine Gun</option>
                                <option val="supersledge">Super Sledge</option>
                                <option val="switchblade">Switchblade</option>
                                <option val="tenderizer">The Tenderizer</option>
                                <option val="tesla">Tesla Rifle</option>
                                <option val="tireiron">Tire Iron</option>
                                <option val="ultracitegatling">Ultracite Gatling Laser</option>
                                <option val="ultracitelaserpistol">Ultracite Laser Pistol</option>
                                <option val="ultracitelaserrifle">Ultracite Laser Rifle</option>
                                <option val="walkingcane">Walking Cane</option>
                                <option val="wardrum">War Drum</option>
                                <option val="westernrevolver">Western Revolver</option>
                            </select>
                        </div>

                        <div class="row justify-content-between pb-2">
                            <label class="col-4" for="caps-value">Caps Value</label>
                            <input class="col-4" type="number" id="caps-value" name="caps-value" min="1">
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="col col-xl-3 itemBtn mt-3 mx-3 rounded btn-lg btn-outline-dark">Add Weapon</button>
                        </div>

                    </form>
                </div>
            </div>
            
           
        </div>
    </div>
</section>

    <script src="/js/addWeapon.js"></script>