<section>
    <h2>Add New Armor</h2>

    <form class="new-armor-form">
        <div>
            <label for="main-effect">Main Effect</label>
            <select id="main-effect" name="main-effect">
                <option val="assassin">Assassin's</option>
                <option val="autostim">Auto Stim</option>
                <option val="bolstering">Bolstering</option>
                <option val="chameleon">Chameleon</option>
                <option val="cloaking">Cloaking</option>
                <option val="exterminator">Exterminator's</option>
                <option val="ghoulslayer">Ghoul Slayer's</option>
                <option val="hunter">Hunter's</option>
                <option val="lifesaving">Life Saving</option>
                <option val="mutant">Mutant's</option>
                <option val="mutantslayer">Mutant Slayer's</option>
                <option val="nocturnal">Nocturnal</option>
                <option val="regenerating">Regenerating</option>
                <option val="troubleshooter">Troubleshooter's</option>
                <option val="unyielding">Unyielding</option>
                <option val="vanguard">Vanguard's</option>
                <option val="weightless">Weightless</option>
                <option val="zealot">Zealot's</option>
            </select>
        </div>

        <div>
            <label for="major-effect">Major Effect</label>
            <select id="major-effect" name="major-effect">
                <option disable selected value> -- Select a modifier: -- </option>
                <option val="agility">+1 Agility</option>
                <option val="antiseptic">+25% Environmental Disease Resistance</option>
                <option val="charisma">+1 Charisma</option>
                <option val="endurance">+1 Endurance</option>
                <option val="hazmat">+25 Radiation Resistance</option>
                <option val="intelligence">+1 Intelligence</option>
                <option val="luck">+1 Luck</option>
                <option val="perception">+1 Perception</option>
                <option val="poisoner">+25 Poison Resistance</option>
                <option val="powered">Increases action point refresh speed</option>
                <option val="strength">+1 Strength</option>
            </select>
        </div>

        <div>
            <label for="minor-effect">Minor Effect</label>
            <select id="minor-effect" name="minor-effect">
                <option disable selected value> -- Select a modifier: -- </option>
                <option val="acrobat">Reduces falling damage by 50%</option>
                <option val="cavalier1">Reduces damage while blocking by 15%</option>
                <option val="cavalier2">75% chance to reduce damage by 15% while sprinting</option>
                <option val="diver">Grants the ability to breathe underwater</option>
                <option val="durability">50% more durability than normal</option>
                <option val="improvedsneaking">Become harder to detect while sneaking</option>
                <option val="reducedammoweight">Ammo weight reduced by 20%</option>
                <option val="reducedfooddrinkchemweight">Food, drink, and chem weights reduced by 20%</option>
                <option val="reducedjunkweight">Junk item weights reduced by 20%</option>
                <option val="reducedlimbdamage">Receive 15% less limb damage</option>
                <option val="reducedweaponweight">Weapon weights reduced by 20%</option>
                <option val="sentinel">75% chance to reduce damage by 15% while standing still</option>
                <option val="safecracker">Increase size of sweet-spot while picking locks</option>
            </select>
        </div>

        <div>
            <label for="armor-type">Armor Type</label>
            <select id="armor-type" name="armor-type">
                <option val="woodchest">Wood Chest Piece</option>
                <option val="woodleftarm">Wood Left Arm</option>
                <option val="woodrightarm">Wood Right Arm</option>
                <option val="woodleftleg">Wood Left Leg</option>
                <option val="woodrightleg">Wood Right Leg</option>
                <option val="raiderchest">Raider Chest Piece</option>
                <option val="raiderleftarm">Raider Left Arm</option>
                <option val="raiderrightarm">Raider Right Arm</option>
                <option val="raiderleftleg">Raider Left Leg</option>
                <option val="raiderrightleg">Raider Right Leg</option>
                <option val="sturdyraiderchest">Sturdy Raider Chest Piece</option>
                <option val="sturdyraiderleftarm">Sturdy Raider Left Arm</option>
                <option val="sturdyraiderrightarm">Sturdy Raider Right Arm</option>
                <option val="sturdyraiderleftleg">Sturdy Raider Left Leg</option>
                <option val="sturdyraiderrightleg">Sturdy Raider Right Leg</option>
                <option val="heavyraiderchest">Heavy Raider Chest Piece</option>
                <option val="heavyraiderleftarm">Heavy Raider Left Arm</option>
                <option val="heavyraiderrightarm">Heavy Raider Right Arm</option>
                <option val="heavyraiderleftleg">Heavy Raider Left Leg</option>
                <option val="heavyraiderrightleg">Heavy Raider Right Leg</option>
                <option val="trapperchest">Trapper Chest Piece</option>
                <option val="trapperleftarm">Trapper Left Arm</option>
                <option val="trapperrightarm">Trapper Right Arm</option>
                <option val="trapperleftleg">Trapper Left Leg</option>
                <option val="trapperrightleg">Trapper Right Leg</option>
                <option val="forestscoutchest">Forest Scout Chest Piece</option>
                <option val="forestscoutleftarm">Forest Scout Left Arm</option>
                <option val="forestscoutrightarm">Forest Scout Right Arm</option>
                <option val="forestscoutleftleg">Forest Scout Left Leg</option>
                <option val="forestscoutrightleg">Forest Scout Right Leg</option>
                <option val="urbanscoutchest">Urban Scout Chest Piece</option>
                <option val="urbanscoutleftarm">Urban Scout Left Arm</option>
                <option val="urbanscoutrightarm">Urban Scout Right Arm</option>
                <option val="urbanscoutleftleg">Urban Scout Left Leg</option>
                <option val="urbanscoutrightleg">Urban Scout Right Leg</option>
                <option val="leatherchest">Leather Chest Piece</option>
                <option val="leatherleftarm">Leather Left Arm</option>
                <option val="leatherrightarm">Leather Right Arm</option>
                <option val="leatherleftleg">Leather Left Leg</option>
                <option val="leatherrightleg">Leather Right Leg</option>
                <option val="sturdyleatherchest">Sturdy Leather Chest Piece</option>
                <option val="sturdyleatherleftarm">Sturdy Leather Left Arm</option>
                <option val="sturdyleatherrightarm">Sturdy Leather Right Arm</option>
                <option val="sturdyleatherleftleg">Sturdy Leather Left Leg</option>
                <option val="sturdyleatherrightleg">Sturdy Leather Right Leg</option>
                <option val="heavyleatherchest">Heavy Leather Chest Piece</option>
                <option val="heavyleatherleftarm">Heavy Leather Left Arm</option>
                <option val="heavyleatherrightarm">Heavy Leather Right Arm</option>
                <option val="heavyleatherleftleg">Heavy Leather Left Leg</option>
                <option val="heavyleatherrightleg">Heavy Leather Right Leg</option>
                <option val="metalchest">Metal Chest Piece</option>
                <option val="metalleftarm">Metal Left Arm</option>
                <option val="metalrightarm">Metal Right Arm</option>
                <option val="metalleftleg">Metal Left Leg</option>
                <option val="metalrightleg">Metal Right Leg</option>
                <option val="sturdymetalchest">Sturdy Metal Chest Piece</option>
                <option val="sturdymetalleftarm">Sturdy Metal Left Arm</option>
                <option val="sturdymetalrightarm">Sturdy Metal Right Arm</option>
                <option val="sturdymetalleftleg">Sturdy Metal Left Leg</option>
                <option val="sturdymetalrightleg">Sturdy Metal Right Leg</option>
                <option val="heavymetalchest">Heavy Metal Chest Piece</option>
                <option val="heavymetalleftarm">Heavy Metal Left Arm</option>
                <option val="heavymetalrightarm">Heavy Metal Right Arm</option>
                <option val="heavymetalleftleg">Heavy Metal Left Leg</option>
                <option val="heavymetalrightleg">Heavy Metal Right Leg</option>
                <option val="combatchest">Combat Chest Piece</option>
                <option val="combatleftarm">Combat Left Arm</option>
                <option val="combatrightarm">Combat Right Arm</option>
                <option val="combatleftleg">Combat Left Leg</option>
                <option val="combatrightleg">Combat Right Leg</option>
                <option val="sturdycombatchest">Sturdy Chest Piece</option>
                <option val="sturdycombatleftarm">Sturdy Left Arm</option>
                <option val="sturdycombatrightarm">Sturdy Right Arm</option>
                <option val="sturdycombatleftleg">Sturdy Left Leg</option>
                <option val="sturdycombatrightleg">Sturdy Right Leg</option>
                <option val="heavycombatchest">Heavy Combat Chest Piece</option>
                <option val="heavycombatleftarm">Heavy Combat Left Arm</option>
                <option val="heavycombatrightarm">Heavy Combat Right Arm</option>
                <option val="heavycombatleftleg">Heavy Combat Left Leg</option>
                <option val="heavycombatrightleg">Heavy Combat Right Leg</option>
                <option val="robotchest">Robot Chest Piece</option>
                <option val="robotleftarm">Robot Left Arm</option>
                <option val="robotrightarm">Robot Right Arm</option>
                <option val="robotleftleg">Robot Left Leg</option>
                <option val="robotrightleg">Robot Right Leg</option>
                <option val="sturdyrobotchest">Sturdy Robot Chest Piece</option>
                <option val="sturdyrobotleftarm">Sturdy Robot Left Arm</option>
                <option val="sturdyrobotrightarm">Sturdy Robot Right Arm</option>
                <option val="sturdyrobotleftleg">Sturdy Robot Left Leg</option>
                <option val="sturdyrobotrightleg">Sturdy Robot Right Leg</option>
                <option val="heavyrobotchest">Heavy Robot Chest Piece</option>
                <option val="heavyrobotleftarm">Heavy Robot Left Arm</option>
                <option val="heavyrobotrightarm">Heavy Robot Right Arm</option>
                <option val="heavyrobotleftleg">Heavy Robot Left Leg</option>
                <option val="heavyrobotrightleg">Heavy Robot Right Leg</option>
                <option val="marinechest">Marine Chest Piece</option>
                <option val="marineleftarm">Marine Left Arm</option>
                <option val="marinerightarm">Marine Right Arm</option>
                <option val="marineleftleg">Marine Left Leg</option>
                <option val="marinerightleg">Marine Right Leg</option>
            </select>
        </div>

        <div>
            <label for="caps-value">Caps Value</label>
            <input type="number" id="caps-value" name="caps-value">
        </div>

                <button type="submit" class="btn-success mt-3 mx-3 rounded">Add Armor</button>
    </form>
</section>

<script src="/js/addArmor.js"></script>