<section>
    <h2>Add New Weapon</h2>

    <form class="new-weapon-form">
        <div>
            <label for="main-effect">Main Effect</label>
            <select id="main-effect" name="main-effect">
                <option value="antiArmor">Anti-Armor</option>
                <option value="assassin">Assassin's</option>
                <option value="berserker">Berserker's</option>
                <option value="bloodied">Bloodied</option>
                <option value="double">Double</option>
                <option value="executioner">Executioner's</option>
                <option value="exterminator">Exterminator's</option>
                <option value="furious">Furious</option>
                <option value="ghoulslayer">Ghoul Slayer's</option>
                <option value="hunter">Hunter's</option>
                <option value="instigating">instigating</option>
                <option value="junkie">Junkie's</option>
                <option value="medic">Medic's</option>
                <option value="mutant">Mutant's</option>
                <option value="mutantSlayer">Mutant Slayer's</option>
                <option value="nocturnal">Nocturnal</option>
                <option value="quad">Quad</option>
                <option value="stalker">Stalker's</option>
                <option value="suppressor">Suppressor's</option>
                <option value="troubleshooter">Troubleshooter's</option>
                <option value="twoShot">Two-Shot</option>
                <option value="vampire">Vampire's</option>
                <option value="zealot">Zealot's</option>
            </select>
        </div>

        <div>
            <label for="major-effect">Major Effect</label>
            <select id="major-effect" name="major-effect">
                <option disable selected value> -- Select a modifier: -- </option>
                <option value="basher">Bashing damage increased by 40%</option>
                <option value="crippling">+50% limb damage</option>
                <option value="explosive">Bullets explode for area damage</option>
                <option value="hitman">+10% damage while aiming</option>
                <option value="lucky1">V.A.T.S. critical shots do +50% damage</option>
                <option value="meleeSpeed">40% increased swing speed</option>
                <option value="powerAttackDamage">40% more power attack damage</option>
                <option value="rapid1">25% faster fire rate</option>
                <option value="riposting">Reflects 50% of melee damage back while blocking</option>
                <option value="vatsEnhanced1">+33% V.A.T.S. hit chance</option>
            </select>
        </div>

        <div>
            <label for="minor-effect">Minor Effect</label>
            <select id="minor-effect" name="minor-effect">
                <option disable selected value> -- Select a modifier: -- </option>
                <option value="agility">+1 Agility</option>
                <option value="cavalier1">Take 15% less damage while blocking</option>
                <option value="cavalier2">Take 40% less damage while power attacking</option>
                <option value="endurance">+1 Endurance</option>
                <option value="lightweight">90% reduced weight</option>
                <option value="lucky2">Your V.A.T.S. critical meter fills 15% faster</option>
                <option value="nimble">Faster movement speed while aiming</option>
                <option value="perception">+1 Perception</option>
                <option value="rapid2">15% faster reload</option>
                <option value="resilient">+250 Damage Resistance while reloading</option>
                <option value="steadfast">+50% Damage Resistance while aiming</option>
                <option value="strength">+1 Strength</option>
                <option value="vatsEnhanced2">25% less V.A.T.S. Action Point cost</option>
            </select>
        </div>

        <div>
            <label for="weapon-type">Weapon Type</label>
            <select id="weapon-type" name="weapon-type">
            <option value="44mag">.44 Pistol</option>
            <option value="50cal">50 Cal Machine Gun</option>
            <option value="10mmpistol">10mm Pistol</option>
            <option value="10mmsmg">10mm Submachine Gun</option>
            <option value="assault">Assault Rifle</option>
            <option value="assaultronblade">Assaultron Blade</option>
            <option value="autogrenade">Auto Grenade Launcher</option>
            <option value="baseballbat">Baseball Bat</option>
            <option value="beararm">Bear Arm</option>
            <option value="blackpowderpistol">Black Powder Pistol</option>
            <option value="blackpowderrifle">Black Powder Rifle</option>
            <option value="board">Board</option>
            <option value="boneclub">Bone Club</option>
            <option value="bonehammer">Bone Hammer</option>
            <option value="bow">Bow</option>
            <option value="bowieknife">Bowie Knife</option>
            <option value="boxingglove">Boxing Glove</option>
            <option value="broadsider">Broadsider</option>
            <option value="chineseofficersword">Chinese Officer Sword</option>
            <option value="combatknife">Combat Knife</option>
            <option value="combatrifle">Combat Rifle</option>
            <option value="combatshotgun">Combat Shotgun</option>
            <option value="compoundbow">Compound Bow</option>
            <option value="crossbow">Crossbow</option>
            <option value="cryolator">Cryolator</option>
            <option value="cultistblade">Cultist Blade</option>
            <option value="cultistdagger">Cultist Dagger</option>
            <option value="deathclawgauntlet">Deathclaw Gauntlet</option>
            <option value="deathtambo">Death Tambo</option>
            <option value="doublebarrel">Double-barrel Shotgun</option>
            <option value="dragon">The Dragon</option>
            <option value="fatman">Fat Man</option>
            <option value="fireaxe">Fire Axe</option>
            <option value="fixer">The Fixer</option>
            <option value="flamer">Flamer</option>
            <option value="gammagun">Gamma Gun</option>
            <option value="gatlinggun">Gatling Gun</option>
            <option value="gatlinglaser">Gatling Laser</option>
            <option value="gatlingplasma">Gatling Plasma</option>
            <option value="gaussrifle">Gauss Rifle</option>
            <option value="golfclub">Golf Club</option>
            <option value="grognaksaxe">Grognak's Axe</option>
            <option value="guitarsword">Guitar Sword</option>
            <option value="handmade">Handmade Rifle</option>
            <option value="harpoongun">Harpoon Gun</option>
            <option value="hatchet">Hatchet</option>
            <option value="huntingrifle">Hunting Rifle</option>
            <option value="knuckles">Knuckles</option>
            <option value="laserpistol">Laser Pistol</option>
            <option value="laserrifle">Laser Rifle</option>
            <option value="leadpipe">Lead Pipe</option>
            <option value="leveraction">Lever Action Rifle</option>
            <option value="lmg">Light Machine Gun</option>
            <option value="m79">M79 Grenade Launcher</option>
            <option value="machete">Machete</option>
            <option value="meathook">Meat Hook</option>
            <option value="minigun">Minigun</option>
            <option value="missile">Missile Launcher</option>
            <option value="moleminergauntlet">Mole Miner Gauntlet</option>
            <option value="mrhandybuzzblade">Mr. Handy Buzz Blade</option>
            <option value="multipurposeaxe">Multi-purpose Axe</option>
            <option value="pickaxe">Pickaxe</option>
            <option value="pipeboltaction">Pipe Bolt-Action Pistol</option>
            <option value="pipepistol">Pipe Pistol</option>
            <option value="piperevolver">Pipe Revolver</option>
            <option value="piperifle">Pipe Rifle</option>
            <option value="pipewrench">Pipe Wrench</option>
            <option value="pitchfork">Pitchfork</option>
            <option value="plasmapistol">Plasma Pistol</option>
            <option value="plasmarifle">Plasma Rifle</option>
            <option value="polehook">Pole Hook</option>
            <option value="poolcue">Pool Cue</option>
            <option value="powerfist">Power Fist</option>
            <option value="pupmpaction">Pump Action Shotgun</option>
            <option value="radium">Radium Rifle</option>
            <option value="railway">Railway Rifle</option>
            <option value="revolutionarysword">Revolutionary Sword</option>
            <option value="ripper">Ripper</option>
            <option value="rollingpin">Rolling Pin</option>
            <option value="assaultron">Salvaged Assaultron Head</option>
            <option value="baton">Security Baton</option>
            <option value="sheepsquatchclub">Sheepsquatch Club</option>
            <option value="sheepsquatchstaff">Sheepsquatch Staff</option>
            <option value="shepherdscrook">Shepherd's Crook</option>
            <option value="shishkebab">Shishkebab</option>
            <option value="shovel">Shovel</option>
            <option value="sickle">Sickle</option>
            <option value="singleaction">Single Action Revolver</option>
            <option value="skisword">Ski Sword</option>
            <option value="sledgehammer">Sledgehammer</option>
            <option value="spear">Spear</option>
            <option value="smg">Submachine Gun</option>
            <option value="supersledge">Super Sledge</option>
            <option value="switchblade">Switchblade</option>
            <option value="tenderizer">The Tenderizer</option>
            <option value="tesla">Tesla Rifle</option>
            <option value="tireiron">Tire Iron</option>
            <option value="ultracitegatling">Ultracite Gatling Laser</option>
            <option value="ultracitelaserpistol">Ultracite Laser Pistol</option>
            <option value="ultracitelaserrifle">Ultracite Laser Rifle</option>
            <option value="walkingcane">Walking Cane</option>
            <option value="wardrum">War Drum</option>
            <option value="westernrevolver">Western Revolver</option>
            </select>
        </div>

        <div>
            <label for="caps-value">Caps Value</label>
            <input type="number" id="caps-value" name="caps-value">
        </div>

        <button type="submit" class="btn-success mt-3 mx-3 rounded">Add Weapon</button>
    </form>
</section>

    <script src="/js/addWeapon.js"></script>