<div class="container-fluid">
  <div class="row">
    <div class="col col-md-3 d-flex justify-content-center" id="vaultboy">
      <img src="/images/vaultboy.jpg" class="img-fluid w-50 vaultboy">
    </div>

        {{!-- <div class="move"> --}}
                        <div class="col-md-5 text-light align-self-center animate__animated animate__fadeIn animate__fast">
            <div class="row align-items-start">
                <div class="card bg-dark pt-2">
                        <h2>Add New Item:</h2><hr>
                        <div class="d-flex justify-content-around">
                                <a class="pb-4" href="/dashboard/add-weapon"><button class="itemBtn" >Add Weapon</button></a>

                                <a class="pb-4" href="/dashboard/add-armor"><button class="itemBtn" >Add Armor</button></a>

                        </div>
                </div>
                <div class="pb-5"></div>
                <div class="card bg-dark pt-2">
                        <h2 class="">View or Edit Inventory:</h2><hr>
                        <div class="d-flex justify-content-center py-4">
                                <a href="/dashboard/view-edit"><button class="itemBtn">Inventory</button></a>
                        </div>
                </div>
                

            </div>

            <div class="spacer"></div>

        <div class="d-flex align-self-end pt-5">
                <button type="button" class="logout" id="logout">Logout</button>   
        </div>
     
        </div>
        <div>
        <input type="text" placeholder="Search.." id="searchBar">
        </div>
        {{!-- </div> --}}

  </div>
</div>

<script src="/js/logout.js"></script>
<script src="/js/search.js"></script>