<h2>Hello</h2>

        <div class="col-md-5 text-light align-self-center">
            <div class="row align-items-center">
                    <button type="button" class="logout" id="logout">Logout</button>
            </div>
        </div>

        <div class="col-md-5 text-light align-self-center">
                <a href="/dashboard/add-weapon"><button>Add Weapon</button></a>
        </div>

        <div class="col-md-5 text-light align-self-center">
                <a href="/dashboard/add-armor"><button>Add Armor</button></a>
        </div>

        <script src="/js/logout.js"></script>