<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center" id="vaultboy">
            <img src="/images/vaultboy.jpg" class="img-fluid w-50">
        </div>
        <div class="col-md-5">
            <a href="/login">
                <button type="button" class="login 50vh">Login</button>
            </a>
        </div>
    </div>
</div>