<div class="container-fluid">
    <div class="row">
      <div class="col col-md-3 d-flex justify-content-center" id="vaultboy">
        <img src="/images/vaultboy.jpg" class="img-fluid w-50">
      </div>

      <div class="col-md-5 text-light align-self-center">
        <h2 class="title pb-4 ms-2 mt-4 text-light">Login</h2><hr>
        <form class="login-form">
          <div class="card text-dark bg-light mb-3 ms-2" style="max-width: 18rem;">
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
          </div>
          <div class="card text-dark bg-light mb-3 ms-2" style="max-width: 18rem;">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
          </div>
          <div>
            <button type="submit" class="btn-primary ms-2 p-1 rounded" style="width: 100px;">login</button><br>
            <h6 class="mt-2 ms-2 text-light">Not registered? Click the link below!</h6>
            <a href="/signup"><button type="button" class="btn-success ms-2 p-1 rounded" style="width: 100px;">signup</button></a>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- javascript file-->
<script src="/js/login.js"></script>