.login {
        display: block;
        width: 100%;
        border: none;
        background-color: #298fd3;
        padding: 14px 28px;
        font-size: 16px;
        color: white;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 0 1px #ccc;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        box-shadow:0px 0 0 #31708f  inset;
}

.login:hover{
    box-shadow:0 0 0 30px #e6b71f  inset;
    -webkit-transform: scale(1);
    color:black
}

html, body {
    background-color: black
}

/* .container {
    position: relative;
} */

#vaultboy {
    /* position: absolute;
    left: 0; */
    width: 50vw;
}

/* .login {
    position: absolute;
    right: 0;
    width: 50vw;
} */