.login {
        display: block;
        width: 100%;
        border: none;
        background-color: #04AA6D;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
      }

.container {
    position: relative;
}

#vaultboy {
    position: absolute;
    left: 0;
    width: 50vw;
}

.login {
    position: absolute;
    right: 0;
    width: 50vw;
}